{% extends 'blog/base.html' %}

{% block content %}

<form action="" class="form-horizontal" method="POST" style="background: white; padding: 1em;">
        {% csrf_token %}
         <div class="row">
            <div class="input-field col s12 {% if error %}{% if form.username.errors %}has-error{% else %}has-success{% endif %}{% endif %}">
                <i class="material-icons prefix">account_circle</i>
                <label for="{{form.username.id_for_label}}">Username</label>
                {{form.username}}
            </div>
            {% if form.username.errors %}
                <div class="alert alert-danger fade in">
                    <strong>{{form.username.errors}}</strong>
                </div>
            {% else %}
            {% endif %}
        </div>
        <div class="row {% if error %}{% if form.password.errors %}has-error{% else %}has-success{% endif %}{% endif %}">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                {{form.password}}
                <label for="{{form.password.id_for_label}}">Password</label>
            </div>
            {% if form.password.errors %}
                <div class="alert alert-danger fade in">
                    <strong>{{form.password.errors}}</strong>
                </div>
            {% else %}
            {% endif %}
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Log in</button>
        </div>
</form>

{% endblock %}
















