{% extends 'blog/base.html' %}

{% block content %}

<form action="" class="post form-horizontal" method="POST">
        {% csrf_token %}

        {% include 'include/input_field.html' with form_field=form.username has_icon='account_circle' %}

        {% include 'include/input_field.html' with form_field=form.password has_icon='lock' %}

        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Log in</button>
        </div>
</form>

{% endblock %}
















