{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
<form action="" class="post col s12" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% if form.password_confirm.errors or form.non_field_errors %}
        <div class="alert alert-danger fade in">
        {% endif %}

        {% include 'include/input_field.html' with form_field=form.old_password has_icon='lock' %}

        {% include 'include/input_field.html' with form_field=form.new_password has_icon='lock' %}

        {% include 'include/input_field.html' with form_field=form.password_confirm has_icon='lock' %}

        {% include 'include/input_field.html' with form_field=form.email has_icon='email' %}

        {% include 'include/upload_field.html' with form_field=form.avatar has_icon='file_upload' %}

        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Send</button>
        </div>

</form>
</div>

{% endblock %}













































