{% extends 'blog/base.html' %}

{% block content %}
<form action="" class="form-horizontal post" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
              {{form.title}}
              <label for="title">Title</label>
          </div>
            {% if form.title.errors %}
                <div class="alert alert-danger fade in">
                    <strong>{{form.title.errors}}</strong>
                </div>
            {% else %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col s12">
                {% for radio in form.visible %}
                    {{radio.tag}}
                    <label for="{{radio.id_for_label}}">{{radio.choice_label}}</label>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              {{form.body}}
              <label for="{{form.body.id_for_label}}">Body</label>
            </div>
            {% if form.body.errors %}
                <div class="alert alert-danger fade in">
                    <strong>{{form.body.errors}}</strong>
                </div>
            {% else %}
            {% endif %}
        </div>
        <div class="row">
          <div class="input-field col s12">
              {{form.tags}}
              <label for="{{form.tags.id_for_label}}">Tags</label>
          </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Send</button>
        </div>
</form>
{% endblock %}



























