{% extends 'blog/base.html' %}

{% block content %}
<form action="" class="form-horizontal" method="post" style="background: white; padding: 1em;">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
              {{form.title}}
              <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              {{form.body}}
              <label for="body">Body</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              {{form.tags}}
              <label for="tags">Tags</label>
          </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Send</button>
        </div>
</form>
{% endblock %}



























