{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tag.css' %}">


    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>

{% block menu %}
    <div class="span1 vert-offset-top-2 fixed">
                <div class="panel panel-primary"style="border: 0; background-color: transparent;">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                {% if user.is_authenticated %}

                                {% else %}
                                <img src="{% static 'img/0.jpg' %}" style="height: 60px; width: 100%;">

                                {% endif %}

                                <div style="text-align: center; color: white;">
                                    Nick
                                </div>
                            </li>
                            <li>
                            <a href="/" class="btn-fluid menu-btn" data-toggle="tooltip" data-placement="bottom" title="Home">
                                <span class="glyphicon glyphicon-home increased"></span>
                            </a>
                            </li>
                            <li>
                            <a href="/add-post" class="btn menu-btn" data-content="Add post" data-toggle="tooltip" data-placement="bottom" title="Add post">
                                <span class="glyphicon glyphicon-plus increased" style="left: 3px;"></span>
                            </a>
                            </li>
                            <li>
                            <a href="/" class="btn-fluid menu-btn" data-content="Settings" data-toggle="tooltip" data-placement="bottom" title="Settings" style="left: 3px;">
                                <span class="glyphicon glyphicon-cog increased"></span>
                            </a>
                            </li>
                            <li>
                            <a href="/logout" class="btn-fluid menu-btn" data-content="Log out" data-toggle="tooltip" data-placement="bottom" title="Log out" style="left: 3px;">
                                <span class="glyphicon glyphicon-off increased"></span>
                            </a>
                            </li>
                        </ul>
                </div>

    </div>
{% endblock %}

<div class="span7 offset3 vert-offset-top-2" style="position: absolute;">

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
</div>


</body>
</html>














