{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tag.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body>

{% block menu %}
    <div class="span1 vert-offset-top-2 fixed">
                <div class="panel panel-primary menu-panel">
                        <ul class="nav nav-pills nav-stacked">
                            {% if user.is_authenticated %}
                                <li>
                                <a href="/{{user.username}}" style="padding: 0;"
                                    class="tooltipped"
                                    data-toggle="tooltip" data-placement="bottom"
                                    data-position="right" data-delay="50" data-tooltip="{{user.username}}">
                                <img src="{% if user.avatar.url != '' %}{{user.avatar.url}}{% else %}{% static img %}img/avatars/empty_account_icon.jpg{% endif %}"
                                style="height: 60px; width: 100%;">
                                </a>
                                </li>
                                <li>
                                    {% include 'include/menu_button.html' with href='/search' glyphicon_name='search' tooltip='Search' %}
                                </li>
                                <li>
                                    {% include 'include/menu_button.html' with href='/' glyphicon_name='home' tooltip='Home' %}
                                </li>
                                <li style="left: 3px;">
                                    {% include 'include/menu_button.html' with href='/add-post' glyphicon_name='edit' tooltip='New post' %}
                                </li>
                                <li style="left: 2px;">
                                    {% include 'include/menu_button.html' with href='/profile' glyphicon_name='cog' tooltip='Change personal information' %}
                                </li>
                                <li style="left: 4px;">
                                    {% include 'include/menu_button.html' with href='/logout' glyphicon_name='log-out' tooltip='Log out' %}
                                </li>
                            {% else %}
                                <li>
                                    {% include 'include/menu_button.html' with href='/search' glyphicon_name='search' tooltip='Search' %}
                                </li>
                                <li>
                                    {% include 'include/menu_button.html' with href='/' glyphicon_name='home' tooltip='Home' %}
                                </li>
                                <li>
                                    {% include 'include/menu_button.html' with href='/login' glyphicon_name='log-in' tooltip='Log in' %}
                                </li>
                                <li>
                                    {% include 'include/menu_button.html' with href='/register' glyphicon_name='registration-mark' tooltip='Register' %}
                                </li>
                            {% endif %}
                        </ul>
                </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
          });
    </script>
{% endblock %}

<div class="span7 offset3 vert-offset-top-2" style="position: absolute;">

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
</div>


</body>
</html>














