{% extends 'blog/base.html' %}

{% block content %}

<form action="" class="form-horizontal" method="POST" style="background: white; padding: 1em;">
        {% csrf_token %}
         <div class="row
            {% if error %}
                has-error
            {% else %}
                has-success
            {% endif %}">
          <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                {{form.username}}
                <label for="username">Username</label>
          </div>
        </div>
        <div class="row
            {% if error %}
                has-error
            {% else %}
                has-success
            {% endif %}">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                {{form.password}}
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Log in</button>
        </div>
</form>

{% endblock %}
















