{% extends 'blog/base.html' %}

{% block content %}
{% include 'include/post.html' %}

{% if comments %}
    <div class="post">Comments:</div>
    {% for comment in comments %}
        <div class="comment">
            <b>{{comment.user.username}}</b><span class="date">{{comment.created}}</span>
            <p>{{comment.body|safe}}</p>
        </div>
    {% endfor %}
{% endif %}

    {% if user.is_authenticated %}
    <form action="" class="form-horizontal post" method="post" >
        {% csrf_token %}

        {% include 'include/input_field.html' with form_field=form.body %}

        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Send</button>
        </div>
    </form>
    {% else %}
    <div class="post">
        <a href="/register">Register</a> or <a href="/login">Login</a> to post a comment
    </div>
    {% endif %}

{% endblock %}




























