{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    <div><h3>{{post.title}}</h3></div>
    <div><span class="glyphicon glyphicon-time"></span>{{post.created}}</div>
    <div class="post-text">{{post.body|safe}}</div>
    <div><a href="/{{post.user.username}}/"><span class="glyphicon glyphicon-user"></span>{{post.user}}</a></div>
    <ul class="tags">
        {% for tag in post.tag.all %}
            <li><a href="#" class="tag">{{tag}}</a></li>
        {% endfor %}
    </ul>
</div>
{% if comments %}
    <div style="padding-bottom: 1em;">Comments:</div>
    {% for comment in comments %}
        <div class="comment">
            <div><b>{{comment.user.username}}</b><span class="date">{{comment.created}}</span></div>
            <div>{{comment.body|safe}}</div>
        </div>
    {% endfor %}
{% endif %}

    {% if user.is_authenticated %}
    <form action="" class="form-horizontal" method="post" style="background: white; padding: 1em;">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
              {{form.body}}
              <label for="body">Comment</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn material-icons left">Send</button>
        </div>
    </form>
    {% else %}
    <div style="background: white; padding: 1em;">
        <a href="/register">Register</a> or <a href="/login">Login</a> to post a comment
    </div>
    {% endif %}
{% endblock %}
























