{% extends 'blog/base.html' %}

{% block content %}
{% if not empty %}
    {% for post in posts reversed %}
        {% include 'include/post.html' with is_href=True %}
    {% endfor %}
{% else %}
    <div class="post">Not posts :-(</div>
{% endif %}
<script>
    var size = 300,
    newsContent= $('.post-text');

    for (var i = 0; i < newsContent.length; ++i){
        if(newsContent[i].innerHTML.length > size){
            newsContent[i].innerHTML = newsContent[i].innerHTML.slice(0, size) + '...';
        }
    }
</script>
{% endblock %}





















