{% extends 'blog/base.html' %}

{% block content %}
{% if not empty %}
{% for post in posts reversed %}
    <div class="post">
        <div><a href="/{{post.user.username}}/post{{post.id}}"><h3>{{post.title}}</h3></a></div>
        <div><span class="glyphicon glyphicon-time"></span>{{ post.created}}</div>
        <div class="post-text">{{post.body|truncatewords_html:60|safe}}</div>
        <div><a href="/{{post.user.username}}/"><span class="glyphicon glyphicon-user"></span>{{post.user}}</a></div>
        <ul class="tags">
            {% for tag in post.tag.all %}
                <li><a href="/search/tag/{{tag}}" class="tag">{{tag}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% else %}
    <div class="post">Not posts :-(</div>
{% endif %}
<script>
    var size = 300,
    newsContent= $('.post-text');

    for (var i = 0; i < newsContent.length; ++i){
        if(newsContent[i].innerHTML.length > size){
            newsContent[i].innerHTML = newsContent[i].innerHTML.slice(0, size) + '...';
        }
    }
</script>
{% endblock %}





















