{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    <form action=""  class="form-horizontal post" method="POST">
        <div class="row file-field col s12">
            <div class="col s9">
                {{form.request}}
            </div>

            <button class="btn col s1">
                <i class="material-icons">search</i>
            </button>

            <div class="col s2">
                {{form.request_type}}
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

{% for post in posts reversed %}
    {% include 'include/post.html' with is_href=True %}
{% endfor %}

{% endblock %}
















