{% extends 'blog/base.html' %}

{% block content %}
{% if not empty %}
{% for post in posts reversed %}
    <div class="post">
        <!--
        REMOVE POST
        <div class="span4" style="text-align: right;float: right;">
            <a href="/" class="btn" data-toggle="tooltip" data-placement="bottom" title="Home">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        -->
        <div><a href="/{{post.user.username}}/post{{post.id}}"><h3>{{post.title}}</h3></a></div>
        <div><a href="/{{post.user.username}}/">{{post.user}}</a> | {{post.created}}</div>
        <ul class="tags">
            {% for tag in post.tag.all %}
                <li><a href="#" class="tag">{{tag}}</a></li>
            {% endfor %}
        </ul>
        <div class="post-text">{{post.body|safe}}</div>
    </div>
{% endfor %}
{% else %}
    <div class="post">Not posts :-(</div>
{% endif %}
<script>
    var size = 120,
    newsContent= $('.block-text');

    for (var i = 0; i < newsContent.length; ++i){
        if(newsContent[i].innerHTML.length > size){
            newsContent[i].innerHTML = newsContent[i].innerHTML.slice(0, size) + '...';
        }
    }
</script>
{% endblock %}





















